body {
    background-color: white; 
}
#star1 {
    animation: kembangkempiss 10s infinite;
}
#star2 {
    animation: kembangkempis 10s infinite;
}
#star3 {
    animation: kembangkempis 10s infinite;
}
@keyframes kembangkempiss {
    0% {

    }
    10% {
        transform: scale(0.5)
    }
    20% {

    }
    30% {
        transform: scale(1.2);
    }
    40% {

    }
    50% {
        transform: scale(0.5)
    }
    60% {

    }
    70% {
        transform: scale(1.2);
    }
    80% {

    }
    90% {
        transform: scale(0.5)
    }
    100% {

    }
}
@keyframes kembangkempis {
    0% {

    }
    10% {
        transform: scale(0.5)
    }
    20% {

    }
    30% {
        transform: scale(1.5);
    }
    40% {

    }
    50% {
        transform: scale(0.5)
    }
    60% {

    }
    70% {
        transform: scale(1.5);
    }
    80% {

    }
    90% {
        transform: scale(0.5)
    }
    100% {

    }
}

#textan {
    animation: effect 6s infinite;
}
@keyframes effect {
    0% {
        color: #62327D;
    }
    10% {
        color: #00FFAB;  
    }
    20% {
        color: #ED539C;
    }
    30% {
        color: #3BE100;
    }
    40% {
        color: #0009E1;
    }
    50% {
        color: #E10000; 
    }
    60% {
        color: #000000;
    }
    70% {
        color: #E15F00;
    }
    80% {
        color: #C2E100;
    }
    90% {
        color: #E100BD;
    }
    100% {
        color: #00E183;
    }
}